.row1{
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;

}

.div1 {
    width: fr;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: space;
    flex: 1;
    
}

.div2{
    background-color: blue;
    width: fr;
    height: 40px;
    display: flex;
    flex: 1;
    

}

.row2{
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
}
.div3 {
    width: fr;
    height: 40px;
    background-color: green;
    display: flex;
    justify-content: space;
    flex: 9;
    
}

.div4{
    background-color: blue;
    width: 100px;
    height: 40px;
    display: flex;
    flex: 1;
    

}

.row3{
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
}
.div5 {
    width: 100px;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex: 1;
}
.div6 {
    width: 100px;
    height: 40px;
    background-color: green;
    display: flex;
    justify-content: space;
    flex: 8;
}
.div7 {
    width: 100px;
    height: 40px;
    background-color: blue;
    display: flex;
    justify-content: space;
    flex: 1;
}
.row4{
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
}
.div8 {
    width: fr;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: space;
    flex: 9;
    
}

.div9{
    background-color: blue;
    width: 100px;
    height: 40px;
    display: flex;
    flex: 1;
}
.row5{
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    flex-grow: 1;
    justify-content: center;
}
.div10 {
    height: 40px;
    background-color: green;
    display: flex;
    flex: 2;
}
.div11{
    display: flex;
    background-color: red;
    width: 10px;
    height: 10px;
    justify-content: center;
    padding: 5px;
    align-items: center;
    position: absolute;
}
.row6{
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    flex-grow: 1;
    justify-content: center;
}
.div12 {
    height: 40px;
    background-color: red;
    display: flex;
    flex: 2;
}.div13{
    display: flex;
    background-color: blue;
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.row7{
    width: 100%;
    height: 100%;
    display: flex;
}
.red7{
    width: 100px;
    background-color: red;
    height: 40px;
}
.blue7{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: blue;
    height: 40px;
}
.green7{
    width: 100%;
    height:10px;
    background-color: green;
}

.row8{
    width: 100%;
    height: 100%;
    display: flex;
}
.green8{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: green;
    height: 40px;
    justify-content: space-between;
}
.div14{
    width: 50px;
    background-color: orange;
    height: 40px;
}
.div15{
    width: 50px;
    background-color: orange;
    height: 40px;
}
.div16{
    width: 50px;
    background-color: orange;
    height: 40px;
}
.div17{
    width: 50px;
    background-color: orange;
    height: 40px;
}
.div18{
    width: 50px;
    background-color: orange;
    height: 40px;
}

.row9{
    width: 100%;
    height: 100%;
    display: flex;
}
.orange9{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: orange;
    height: 40px;
    flex-grow: 1;
    justify-content: space-between;
    justify-content: space-around;
    
}
.div19{
    width: 20px;
    background-color: green;
    height: 40px;
}
.div20{
    width: 20px;
    background-color: green;
    height: 40px;
}
.div21{
    width: 20px;
    background-color: green;
    height: 40px;

}
.div22{
    width: 20px;
    background-color: green;
    height: 40px;
}