@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
.paragraph{
    font-size: 12px;
}

.header{
    width: 100vw;
    display: flex;
    justify-content: space-between;

}
 
h3{
    font-family: 'Inter', sans-serif;
}
.left-header{
    display: flex;    
    justify-content: space-between;
    padding: 30px 50px;
}

.left-header h3{
    font-size: 1rem;
    justify-content: space-between;
}
.left-header .logo{
    margin-right: 10px;
}
 .right-container .nav{
    background-color: #F1F1F1;
}


.right-header{
    /* display: flex;
    justify-content: space-around;
    padding: 20px 30px;
    margin-left: 20px; */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;



}
.buttonMain{ 
    display: none;
    background-color: #e5e5e5;
    color: black;
    border: 0;
    padding: 10px 24px;
    border-radius: 100px;
    width: fit-content;
}
.container{
    max-width: 1400px;
    width: 100px;
    background-color: '#F1F1F1';
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;

}

.left-container{
    flex: 1;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 100px 80px 100px 80px;
    

}

.right-container{
    flex: 1;
    padding: 100px 81px 100px 0;
    position: relative;
    justify-content: center;
}

.text1{
    padding-top: 10px;
}

.btn .image1{
    align-content: center;
    margin-top: 20px;
}

.image{
    width: 687px;
    height: 458px;
    background-image: url('./assets/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
}

.dollar{
    position: absolute;
    left: 30%;
}

.fire{
    position: absolute;
    left: 60%;
    top: 50%;
}

.title{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: 650;
    line-height: 64px;
    margin-bottom: 20px;
}

.text{
    font-size: 1rem;


}

.button{
    width: 80%;
    margin: auto;    
    background-color: #712FFF;
    color: white;
    border: 0;
    padding: 10px 24px;
    border-radius: 100px;
    border: 0;
    width: fit-content;
    
    

}
 @media (max-width: 1200px){
    .buttonMain{ 
        display: inline;
    }

    .nav a {
        display: none;
    }


    .container{
        flex-direction: column-reverse;
        text-align: center;
    }

    .right-container{
        /*width: 70%; */
        /* margin-top: 30px; */
        flex-direction: column;
        margin-left: 80px;
    }

    
    .left-container{
        /* padding: 0;
        align-items: center;
        text-align: center; */
        flex-direction: column;
        text-align: center;
        margin: 0px;
    }

   
    .steps {
        flex-direction: column;
    }


    .VisualContent{
        flex-direction: column;
        margin: auto;
    }



    .right-container2{
        flex-direction: column;
    }

    .left-container2{
        flex-direction: column;
        margin-left: auto 0px;
    }

    .get-started-section {
        flex-direction: column;
        text-align: center;

    }
    .get-started-section button {
        margin-top: 40px;
        flex-direction: center;
    }
    .get-started-section input {
        flex-direction: center;
    }


 }


.how-it-works {
    text-align: center;
    background-color: #E1DEE7;
    padding: 50px 0;
}

.how-it-works h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.how-it-works p {
    font-family: 'Kanit', sans-serif;
    margin-bottom: 30px;
    font-size: 14px;
    color: #666;
}

.steps {
    display: flex;
    justify-content: space-around;
}

.step {
    text-align: center;
}

.step .img {
    width: 50px;
    height: 60px;
    margin-bottom: 50px;
    margin-right: 130px;
    margin-top: 40px;
}

.step h4 {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.step p {
    font-family: 'Kanit', sans-serif;
    color: #666;
    font-size: 14px;
}

.get-started-section {
    font-family: 'Kanit', sans-serif;
    position: relative;
    justify-content: space-around;
    background-color: white;
    align-items:center;
    padding: 50px ;
    text-align: left;
    flex-wrap: wrap;

    
}

.get-started-section input {
    background-color: #E1DEE7;
    font-family: 'Kanit', sans-serif;
    width: 300px;
    font-size: 1rem;
    margin-right: 10px;
    margin-top: 30px;
    border-radius: 5px 0 0 5px;
    border: 0 ;
    outline: none;
    padding: 10px 24px;
    border-radius: 100px
    
}

.get-started-section button {
    background-color: #712FFF;
    color: white;
    border: 0;
    padding: 10px 24px;
    border-radius: 100px;
    border: 0;

}



.upload-section {
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-container2 {
    flex: 1;
    padding: 100px 81px 100px 0;
    position: relative;
    justify-content: center;

}
.VisualContent{
    display: flex;
    width: 687px;
    height: 458px;
    background-image: url('./assets/VisualContent.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;

}

.right-container2 {
    flex: 1;
    padding: 100px 81px 100px 0;
    position: relative;
}


.button3 {
    display: flex;
    background-color: #712FFF;
    color: white;
    border: 0;
    padding: 10px 24px;
    border-radius: 100px;
    border: 0;
    width: 120px;
    margin-top: 20px;
    align-items: baseline;

}

.button3 .p12{

    margin-bottom: 7px;
    margin-right: 5px;
}
.button3 .search{
    margin-top: 5px;
    margin-right: 5px;
}



footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #333;
}

footer .credits {
    font-family: 'Kanit', sans-serif;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}